.wrapper{
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding-left: 250px;
transition: all 0.4s ease 0s;
}
.sidebar-content{
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #153a72;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
	overflow-x: hidden;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
.btn{
	border: none;
}
.sidebar-nav{
	position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
	left: 20px;

}
.progress{
	position: absolute;
	top: 80%;
	width: 200px;
	margin-left: 30px;
	height: 0.9%;
}
.progress-pane{
	position: absolute;
	top: 76%;
	color: #fff;
	font-size: 12px;
	width: 200px;
	margin-left: 30px;
	height: 0.9%;
}
.bottom-pane {
	top: 90%;
	position: absolute;
}
.btn-info{
	background-color: inherit;
	border: #6a7eff;
	border: 2px;
}
.progress-bar{
	top: 80%;
	width: 250px;
	margin-right: 15px;
}
.sidebar-nav > li{
	line-height: 40px;
	text-decoration: none;

}
.sidebar-nav > li > a{
	display: block;
	font-family: 'MMA';
	text-decoration: none;
	color: #999999;
	font-size: 24px;
}
.sidebar-nav > li > a:hover{
	text-decoration: none;
	color: #fff;
	background: inherit;
}
.sidebar-nav > .active a{
	text-decoration: none;
	color: #fff;
	background: inherit;
}
.sidebar-nav > .logo-brand{
height: 70px;
margin-bottom: 20px;
text-align: center;
}
.dropLogo{
  height: 70px;
  width: 70px;
  text-align: center;
}
.d-inline-block i{
  height: 40px;
  width: 70px;
  font-size: 34px;
}
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
				opacity: 0.5;
      }
#custom-search-input .search-query {
        padding:0px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 5px;
				outline: none;
      }
.fa-link{
      	transform: rotate(-40deg);
      }
.fa-fa-search{
			background-color: transparent;
		}
#search .form-control{
			outline: none;
			background-color: transparent;
			border: 0px solid;
			height: 30px;
			width: 160px;
		  color: #000;
			font-family: 'MMM';
			box-shadow: none;
    }
.sect2-h1{
    			font-family: 'MMM';
    			font-weight: 200;
    			margin-left: 10%;
    		}
.nav-link:active{
    			background-color: #000;
    		}
#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-query:focus + button {
  z-index: 3;
}
.btn-outline-secondary:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.dropLogo{
  height: 70px;
  width: 70px;
  text-align: center;
}
.thumbnail {
  position:relative;
  overflow:hidden;
}

.fa-check-circle-o{
	text-align: right;
	left: 80%;
}
.thumbnail img{
	width: 100%;
}
.thumbnail i{
  font-size: 30px;
  color:rgba(66, 139, 202, 0.5);
}
.hoverOn{
	position:absolute;
top:0;
right:0;
background:rgba(0, 0, 0, 0.75);
width:100%;
height:100%;
padding:2%;
display: none;
text-align:right;
color:#fff !important;
z-index:2;
}
#popup{
  padding-top:80px;
}
.form{
  border-radius:2px;
  padding:20px 30px;
  box-shadow:0 0 15px;
  font-size:14px;
  font-weight:bold;
  width:350px;
  margin:20px 250px 0 35px;
  float:left;
}
input{
  width:100%;
  height:35px;
  margin-top:5px;
  border:1px solid #999;
  border-radius:3px;
  padding:5px;
}
input[type=button]{
  background-color:#123456;
  border:1px solid white;
  font-family: 'Fauna One', serif;
  font-Weight:bold;
  font-size:18px;
  color:white;
  width:49%;
}
#logindiv{
  opacity:0.92;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
#login{
  width:350px;
  margin:0px;
  background-color:white;
  font-family: 'Fauna One', serif;
  position: relative;
  border: 5px solid rgb(90, 158, 181);
}
.label:after{
  content: "*";
  color: red;
}
#login{
  left: 50%;
  top: 50%;
  margin-left:-210px;
  margin-top:-158px;
}
